.header, .start, .specifications, .salon, .description__title, .parameters__item, .safety__title, .stars__subtitle, .fivestars__textstars{
font-family: "Montserrat-SemiBold", serif, sans-serif;
}
.specifications__item, .description__link, .stars__item, .fivestars__text, .fivestars__link{
font-family: "Montserrat-Bold", serif, sans-serif;
}
.description__text, .safety__text{
font-family: "Montserrat-Medium", serif, sans-serif;
}
.parameters__small{
font-family: "Montserrat-Regular", serif, sans-serif;
}


body{
max-width: 1440px;
margin: 0 auto;
display: flex;
flex-direction: column;
}

.header{
display: flex;
max-width: 1440px;
height: 51px;
padding-top: 25px;
margin-left: 1.5%;
justify-content: center;
align-content: center;
align-items: center;
justify-content: space-between;
}

.menu{
font-size: 1vw;
display: flex;
justify-content: center;
align-content: center;
/*margin-left: 18.5%;*/
}

.menu__store{
display: flex;
justify-content: center;
align-content: center;
bottom: 20px;
/*margin-left: 12.5%;*/
}

.menu__link{
min-width: 65px;
display: flex;
align-items: center;
align-content: center;
font-weight: 600;
font-size: 15px;
line-height: 18px;
text-decoration: none;
cursor: pointer;
color: black;
transition: color 0.3s ease-in;
margin-right: 27px;
}

.menu__link_red{
border-bottom: 2px solid red;
display: flex;
align-items: center;
align-content: center;
font-weight: 600;
font-size: 15px;
cursor: pointer;
color: #E51937;
margin-right: 63px;
padding-bottom: 6px;
padding-top: 6px;
}

.menu__link_roadster{
margin-left: 20px;
}

.menu__link_energy{
	margin-left: 15px;
}

.menu__link:hover{
color: #E51937;
}

.header__burger{
display: flex;
align-items: center;
justify-content: flex-start;
bottom: 60px;
width: 24px;
height: 20px;
cursor: pointer;
margin-right: 3%;
/*margin-right: 10%;*/
}

.header__burger span{
width: 24px;
height: 4px;
background-color: #E51937;
}

.header__burger span:before{
position: absolute;
content: " ";
width: 24px;
height: 4px;
background-color: #E51937;
transform: translateY(-9px);
}

.header__burger span:after{
position: absolute;
content: " ";
width: 24px;
height: 4px;
background-color: #E51937;
transform: translateY(9px);
}


section{
display: flex;
flex-direction: column;
width: 100%;
}

.start{
display: flex;
align-items: center;
}

.start__title{
display: flex;
max-width: 370px;
margin: 60px 0 0 0;
font-style: normal;
font-weight: 600;
font-size: 90px;
}

.start__text{
margin: 0px;
margin-top: -10px;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
position: relative;
}

.tesla{
display: flex;
align-items: center;
position: relative;
max-width: 1440px;
}

.tesla__imgtext{
display: flex;
position: absolute;
/*width: 104%;*/
width: 100%;
bottom: 26%;
}

.tesla__imgtextsmall{
		display: none;
	}
.specifications__roadsmall{
		display: none;
	}
.specifications__roadsmallsmall{
		display: none;
	}

.tesla__imgcartesla{
width: 69%;
margin-top: 1.5%;
margin-right: 5%;
}


.specifications{
display: flex;
flex-direction: row;
justify-content: center;
padding-top: 30px;
}

.specifications__block{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 4%;
margin-right: 4.2%;
}

.specifications__block_active{
display: flex;
flex-direction: row;
align-items: center;
}

.specifications__speedometer{
width: 55px;
height: 45px;
}

.specifications__text{
font-style: normal;
font-weight: 600;
font-size: 35px;
margin-left: 8px;
}

.specifications__textbig{
	margin: 0;
	display: flex;
	align-items: center;
}

.specifications__road{
margin-left: 80px;
}

.specifications__steeringred{
display: none;
}

.specifications__item{
text-transform: uppercase;
font-size: 13px;
margin-left: 5px;
}

.specifications__itemlink{
margin-left: 40px;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: #E51937;
border: 2px solid #E51937;
text-decoration: none;
width: 155px;
height: 37px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.specifications__spantext{
margin: 0;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
}

.specifications__spansmall{
font-size: 20px;
margin-left: 5%;
}

.specifications__blocksmall{
display: flex;
justify-content: center;
margin-top: 3%;
}

.specifications__arrow{
width: 28px;
height: 14px;
position: relative;
}

.salon{
display: flex;
flex-direction: row;
/*position: relative;*/
margin-top: 2.3%;
height: 900px;
}

.salon__text{
display: flex;
margin-left: 4.2%;
margin-top: 4.5%;
/*margin-bottom: 0;*/
position: absolute;
z-index: 1;
max-width: 288px;
max-height: 86px;
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 85px;
color: #E51937;
}

.salon__blockinterior{
	width: 100%;
	/*height: 900px;*/
	background-image: url(img/2013-tesla-model-s-cockpit.png);
background-position-x: 6%;
background-position-y: 55px;
/*background-size: cover;*/
background-repeat: no-repeat;
}

.description{
/*display: flex;*/
/*justify-content: space-around;*/
align-items: center;
width: 30%;
min-width: 420px;
/*height: 100%;*/
/*position: absolute;*/
right: 0;
background-color: #E51937;
}

.description__blocktext{
/*display: flex;*/
flex-direction: column;
align-items: center;
margin-top: 6%;
}

.description__title{
display: flex;
justify-content: center;
margin-bottom: 0%;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
}

.description__text{
display: flex;
justify-content: center;
max-width: 316px;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}

.description__linksmall{
		display: none;
	}

.parameters{
/*position: relative;*/
/*top:5%;*/
margin-top: 13%;
margin-right: 13%;
max-width: 260px;
display: flex;
flex-direction: column;
}

.parameters__block{
display: flex;
margin-bottom: 14%;
max-width: 269px;
line-height: 17px;
color: #FFFFFF;
}

.parameters__smartphone{
max-width: 36px;
height: 53px;
}

.parameters__wifi{
max-width: 36px;
height: 35px;
margin-top: 6%;
}

.parameters__petrol{
max-width: 36px;
height: 56px;
/*margin-top: 5px;*/
}

.parameters__small{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 0px;
}

.parameters__item{
margin-left: 20px;
font-weight: 600;
font-size: 20px;
}

.parameters__spanbig{
font-weight: 600;
font-size: 35px;
line-height: 24px;
}

.parameters__info{
display: flex;
width: 90%;
height: 5%;
margin-top: 32%;
justify-content: space-evenly;
align-items: flex-end;
}

.description__link{
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
padding: 10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: 5%;
}

.description__link_active {
border: 2px solid #FFFFFF;
width: 135px;
height: 15px;
}

.parameters__circle{
margin-right: 10px;
}


.safety{
display: flex;
flex-direction: row;
height: 900px;
/*position: relative;*/
}

.safety__block{
display: flex;
/*position: relative;*/
flex-direction: column;
/*align-items: center;*/
width: 30%;
min-width: 420px;
background-color: #E51937;
color: #FFFFFF;
}

.safety__description{
width: 316px;
margin-top: 25px;
margin-left: 9%
}

.safety__title{
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
margin-bottom: 0%;
}

.safety__text{
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
}

.stars{
position: relative;
max-width: 316px;
margin-left: 9%;
margin-top: 4%;
}

.stars__subtitle{
font-weight: 600;
font-size: 30px;
line-height: 37px;
}

.stars__list{
display: flex;
position: relative;
width: 100%;
margin-bottom: 10px;
justify-content: space-between;
}

.stars__item{
position: relative;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 21px;
text-transform: uppercase;
}

.stars__block{
margin-right: 30px;
}

.stars__spansmall{
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 12px;
text-transform: uppercase;
opacity: 0.7;
}

.fivestars{
display: flex;
flex-direction: column;
width: 347px;
height: 250px;
margin-left: 4%;
margin-top: 4%;
}

.fivestars__safety{
display: flex;
flex-direction: row;
margin-top: 80px;
margin-left: 8%;
}

.fivestars__shield{
width: 62px;
height: 74px;
}

.fivestars__textstars{
position: relative;
margin-left: 7%;
margin-top: 2%;
margin-bottom: 7%;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 30px;
}

.fivestars__span{
font-style: normal;
font-weight: 600;
font-size: 25px;
}

.fivestars__active{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 10%;
}

.fivestars__menu{
display: flex;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

.fivestars__menu_active{
border: 2px solid #FFFFFF;
width: 160px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
/*margin-right: 10px;*/
}

.fivestars__link{
display: flex;
align-items: center;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

.fivestars__circle{
margin-right: 10px;
}

.schema{
/*position: relative;*/
width: 70%;
/*height: 100%;*/
display: flex;
flex-direction: column;
}

.schema__title{
position: relative;
display: flex;
width: 78%;
top: 16%;
left: 21.5%;
}

.schema__titlesmall{
		display: none;
	}

.schema__imgcar{
display: flex;
position: relative;
width: 105%;
top: 3%;
right: 8.8%;
}

.schema__imgcarsmall{
	display: none;
}

.schema__imgcarsmallsmall{
		display: none;
	}



@media (max-width:1440px){
	body{
	max-width: 1400px;
	}

	.header{
		max-width: 1400px;
	}
	.tesla{
		max-width: 1400px;
	}
	.tesla__imgtextsmall{
		display: none;
	}
	.specifications__roadsmall{
		display: none;
	}
	.specifications__roadsmallsmall{
		display: none;
	}

	.description__linksmall{
		display: none;
	}

	.schema__imgcarsmall{
		display: none;
	}

	.schema__imgcarsmallsmall{
		display: none;
	}

	.schema__titlesmall{
		display: none;
	}
}

@media (max-width:992px){

	.menu{
		display: none;
	}

	.menu__store{
		display: none;
	}

	.header{
		margin-left: 2%;
		padding-top: 17px;
	}

	.header__title{
margin-top: 2%;
	}

	.header__burger{
		width: 35px;
		margin-right: 4%;
		margin-top: 2%;
	}

	.header__burger span{
		width: 35px;
		height: 2px;
	}

	.header__burger span:before{
		width: 35px;
		height: 2px;
	}

	.header__burger span:after{
		width: 35px;
		height: 2px;
	}
	
	.start__title{
		margin-top: 11%;
	}

	.start__text{
		margin: -1%;
	}

	.tesla__imgtext{
		display: none;
		bottom: 40%;
		left: 0.1%;
		width: 100%;
	}

	.tesla__imgtextsmall{
		display: flex;
		position: absolute;
		bottom: 40%;
		left: 0.1%;
		width: 100%;
	}

	.tesla__imgcartesla{
		width: 90%;
		margin-top: 13%;
		margin-right: 0%;
	}

	.specifications{
		flex-direction: column;
		align-items: center;
		padding-top: 15px;
	}

	.specifications__speedometer{
		width: 75px;
		height: 60px;
		margin-top: 8%;
	}

	.specifications__text{
		margin-top: 3%;
		margin-bottom: 0;
		margin-right: 20px;
		margin-left: 10px;
		font-size: 50px;
	}

	.specifications__road{
		display: none;
		margin-left: 70px;
		margin-top: 5%;
		width: 50px;
		height: 80px;
	}

	.specifications__roadsmallsmall{
		display: none;
	}

	.specifications__roadsmall{
		display: flex;
		margin-left: 70px;
		margin-top: 7%;
		width: 50px;
		height: 80px;
	}

	.specifications__blocksmall{
		margin-top: 3%;
	}

	.specifications__block_active{
		margin-top: 50px;
	}

	.specifications__spansmall{
		margin-left: 9%;
	}

	.specifications__arrow{
		margin-top: 4.5%;
	}

	.specifications__item{
		font-size: 16px;
		margin-left: 17px;
		color: #E51937;
	}

	.specifications__itemlink{
		width: 215px;
		height: 50px;
		font-size: 16px;
		margin-left: 40px;
		color: #FFFFFF;
		border: 2px solid #E51937;
		background-color: #E51937;
	}

	.specifications__steering{
		display: none;
	}

	.specifications__steeringred{
		display: flex;
		width: 32px;
		height: 32px;
	}

	.salon{
		flex-direction: column;
		height: 0%;
	}

	.salon__text{
		align-items: flex-end;
		right: 45px;
		margin-top: 8%;
	}

	.salon__blockinterior{
		height: 552px;
		background-image: url(img/2013-tesla-model-s-cockpitiPad.png);
		background-position-y: 50px;
		background-size: 100%;
	}

	.description{
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		height: 486px;
		align-items: flex-start;
		justify-content: space-around;
	}

	.description__blocktext{
		margin-top: 4%;
		margin-right: 4%;
	}

	.description__link{
		
		display: none;
	}

	.description__linksmall{
		display: flex;
		font-size: 16px;
		font-style: normal;
font-weight: bold;
/*font-size: 13px;*/
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
padding: 10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: 4%;
	}

	.description__link_active{
		border: 2px solid #FFFFFF;
		width: 202px;
		height: 33px;
		display: flex;
		font-size: 16px;
		font-style: normal;
font-weight: bold;
/*font-size: 13px;*/
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
padding: 10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
	}

	.parameters{
		margin-top: 9%;
		margin-right: 2%;
	}

	.parameters__block{
		margin-bottom: 10%;
	}

	.parameters__info{
		justify-content: center;
		margin-top: 4%;
		margin-right: 4%;
		/*margin-bottom: 2%;*/
	}

	.safety{
		flex-direction: column-reverse;
		height: 100%;
	}

	.safety__block{
		/*position: relative;*/
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		height: 487px;
		/*padding: 10% 0;*/
	}

	.safety__description{
		margin-top: 40px;
		margin-left: 0;
	}

	.stars{
		margin-left: 0;
		margin-right: 2%;
		margin-top: 40px;
	}

	.stars__block{
		margin-right: 0;
		margin-left: 33px;
	}
	.fivestars{
		height: 100px;
		/*margin-left: 16%;*/
		margin-top: 0;
		margin-right: 17%;
	}

	.fivestars__safety{
		display: none;
	}

	.fivestars__active{
		width: 460px;
		margin-top: 7%;
	}

	.fivestars__menu{
		width: 220px;
		height: 50px;
	}

	.fivestars__link{
		font-size: 16px;
	}

	.schema{
		display: flex;
		align-items: center;
		width: 100%;
	}

	.schema__imgcar{
		display: none;
		width: 90%;
	}

	.schema__imgcarsmall{
		display: flex;
		position: relative;
		bottom: 32px;
		right: 18px;
	}

	.schema__imgcarsmallsmall{
		display: none;
	}

	.schema__title{
		width: 76%;
		top: 70px;
		left: 0.7%;
	}

	.schema__titlesmall{
		display: none;
	}
}


@media (max-width:767px){
	
	.menu{
		display: none;
	}

	.menu__store{
		display: none;
	}

	.header{
		padding-top: 0px;
	}

	.header__title{
		width: 138px;
		height: 42px;
		/*margin-top: 30%;*/
	}

	.header__burger{
		/*margin-top: 30%;*/
		margin-right: 3%;
	}

	.header__burger span{
		width: 24px;
		height: 1px;
	}

	.header__burger span:before{
		width: 24px;
		height: 1px;
		transform: translateY(-6px)
	}

	.header__burger span:after{
		width: 24px;
		height: 1px;
		transform: translateY(6px);
	}

	.start{
		margin-top: -7%;
	}

	.start__title{
		font-size: 50px;
		margin-top: 15%;
	}

	.start__text{
		font-size: 10px;
		/*margin-top: 0.1%;*/
	}

	.tesla__imgcartesla{
		width: 95%;
		margin-top: 13%;
		margin-right: 0%;
	}

	.tesla__imgtext{
		bottom: 34%;
	}

	.specifications{
		flex-direction: column;
		padding-top: 5%;
	}

	.specifications__block{
		margin-left: 0px;
		margin-right: 5%;
	}

	.specifications__speedometer{
		width: 43px;
		height: 35px;
	}

	.specifications__text{
		font-size: 27px;
		margin-right: 0px;
	}

	.specifications__spantext{
		font-size: 10px;
	}

	.specifications__spansmall{
		font-size: 15px;
	}

	.specifications__road{
		display: none;
		/*max-width: 30px;
		max-height: 45px;
		margin-left: 45px;*/
	}

	.specifications__roadsmall{
		display: none;
	}

	.specifications__roadsmallsmall{
		display: flex;
		max-width: 30px;
		max-height: 45px;
		margin-left: 45px;
	}

	.specifications__steeringred{
		margin-left: 5%;
		width: 22px;
		height: 22px;
	}

	.specifications__item{
		font-size: 13px;
		width: 100px;
		margin-left: 1%;
	}
	.specifications__itemlink{
		width: 165px;
		height: 35px;
		margin-left: 30px;
		font-size: 13px;
	}

	.specifications__block_active{
		margin-top: 10%;
	}

	.specifications__blocksmall{
		margin-top: 4%;
	}

	.salon{
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}

	.salon__blocktext{
		display: none;
	}

	.description{
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		height: 304px;
		min-width: 0px;
		justify-content: center;
	}

	.description__blocktext{
		margin-top: 0%;
		margin-right: 0%;
	}

	.description__title{
		margin-top: 5%;
	}

	.salon__blockinterior{
		background-image: url(img/2013-tesla-model-s-cockpitMob.png);
	height: 325px;
	background-position-y: 1%;
	background-size: cover;
	}

	.parameters{
		display: none;
	}

	.parameters__info{
		display: none;
	}

	.safety__block{
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		/*min-width: 320px;*/
		min-width: 0;
		height: 304px;
	}

	.safety__description{
		margin-top: 15px;
	}

	.safety__title{
		margin-top: 0;
	}

	.stars{
		display: none;
	}

	.fivestars{
		display: none;
	}

	.schema{
		height: 295px;
		position: relative;
	}

	.schema__title{
		display: none;
		width: 70%;
		top: 50px;
		left: 0;
	}

	.schema__titlesmall{
		display: flex;
		position: relative;
		top: 16%;
		width: 100%;
	}

	.schema__imgcar{
		display: none;
	}

	.schema__imgcarsmall{
		display: none;
	}

	.schema__imgcarsmallsmall{
		display: flex;
		position: absolute;
		right: 2%;
		bottom: 7%;
		width: 100%;
		max-width: 450px;
	}
}